html {
    height: 100%;
  }
  body {
    position: relative;
    min-height: 100%;
  }
  div,li {
    box-sizing: border-box;
  }
  li {
    list-style: none;
    padding: 3px;
  }
  p, ul {
    padding: 0;
  }
  
  .header_nav{
    background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.8)60%);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    top: 0;
    width: 100%;  
  }
  .logo {
    width: 120px;
    display: flex;
    align-items: center;
  }
  .logo img{
    width: 100%;
  }
  .global_nav {
    display: flex;
    align-items: stretch;
  }
  .global_nav_item {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .menu_key {
    padding: 65px 10% 0px;
  }
  
  .center {
    text-align: center;
  }
  .section_inner {
    padding: 50px 10% 30px;
  }
  .section_title {
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    margin-bottom: 50px;
  }
  .menu_section {
    background: url("../images/sample_menu_bg.jpg") no-repeat bottom;
    background-size: 100%;
    background-attachment: fixed;
  }
  .menu_title {
    display: inline-block;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    font-size: 1.5rem;
    color: #42210b;
    border-bottom: solid #42210b 1px;
    margin-bottom: 10px;
  }
  .menu_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .recommended_menu_item {
    width: 49%;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);;
  }
  .menu_item_title {
    font-size: 18px;
    font-family: 'Noto Serif JP', serif;
  }
  .coffee_menu {
    background: #fff;
    padding: 20px;
  }
  .caffee_menu_list_item {
    width: 49%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
  }
  .caffee_menu_image {
    width: 20%;
    border-radius: 50%;
  }
  .caffee_menu_content {
    width: 80%;
    padding: 10px;
  }
  .btn {
    display: inline-block;
    padding: .8rem 2rem;
    z-index: 10;
    text-align: center;
    border-radius: 5px;
    background: rgba(127,136,182,1);
    color: white;
  }
  .inner_body {
    padding-bottom: 75px;
  }

  .footer_whole {
    background: #251e19;
    height: 75px;
    width: 100%;
  }
  .footer_each_item {
    display: flex;
    justify-content: center;
  }
  .footer_item {
    color: #fff;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    padding: 0px 10px 
  }
  .footer_logo {
    width: 80px;
  }
  .footer_copyright {
    color: #fff;
    text-align: center;
    font-size: 5px;
  }